[project]
name = "stacks-token"
description = "A SIP-010 fungible token implementation"
authors = []
telemetry = false
cache_dir = "./.cache"
requirements = []

[contracts.sip-010-token]
path = "contracts/sip-010-token.clar"
clarity_version = 2
epoch = 2.4

[repl.analysis]
passes = ["check_checker"]

[repl.analysis.check_checker]
strict = false
trusted_sender = false
trusted_caller = false
callee_filter = false
